<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Real Estate</title>
  </head>

  <body>
    <header>
      <nav>
        <h4><i class="bi bi-house-door-fill"></i>House</h4>
        <div class="right_bx">
          <ul>
            <li><a href="#">Support</a></li>
            <li>
              <a href="#"><i class="bi bi-globe"></i>Language</a>
            </li>
            <li><a href="#">List your property</a></li>
          </ul>
          <div class="account_bx">
            <a href="login">
            <i class="bi bi-app-indicator"></i></a>
            <a href="registration">
            <i class="bi bi-person-circle"></i></a>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="cont_bx">
          <h1>
            VIP <br />
            House
          </h1>
          <p>3 bedrooms, 1 kitchen, 2 bathrooms</p>
          <div class="weather">
            <h6>6 °c <span>very cool</span></h6>
          </div>
          <div class="btns_cont">
            <i class="bi bi-arrow-left"></i>
            <i class="bi bi-arrow-right"></i>
          </div>
          <div class="images_bx">
            <div class="card">
              <img src="img/An outdoor pool.jpg" alt="" />
            </div>
            <div class="card">
              <img
                src="img/(6x7 Meters) Small House Design Idea with 3 Bedrooms.jpg"
                alt=""
              />
            </div>
            <div class="card">
              <img src="img/Random Inspiration 335.jpg" alt="" />
              <h6>+6</h6>
            </div>
          </div>
        </div>
        <div class="choose_bx">
          <div class="stay_bx">
            <button><i class="bi bi-house-door-fill"></i></button>
            <button><i class="bi bi-star-fill"></i></button>
            <button><i class="bi bi-tv-fill"></i></button>
          </div>
          <div class="select">
            <div class="card">
              <h5>city</h5>
              <input type="text" value="mumbai" />
              <input type="text" value="india" />
            </div>
            <div class="card">
              <h5>people</h5>
              <input type="text" value="2 people" id="people" />
              <button id="people_less">less</button>
              <button id="people_more">more</button>
            </div>
            <div class="card">
              <div class="left_box">
                <h5>Check In</h5>
                <div class="date">
                  <h3 id="checking_data">sun, 05 feb</h3>
                  <input type="date" id="checkin" value="2023-03-10" />
                  <i class="bi bi-calendar2-week-fill"></i>
                </div>
                <button>less</button>
                <button>more</button>
              </div>
              <div class="right_box">
                <h5>Check out</h5>
                <div class="date">
                  <h3>mon, 06 feb</h3>
                  <input type="date" id="checkin" value="2023-03-10" />
                  <i class="bi bi-calendar2-week-fill"></i>
                </div>
                <button>less</button>
                <button>more</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="map">
      <div class="address_bx">
        <div class="location_bx">
          <h6>Location</h6>
          <h4>Maple Height Building</h4>
        </div>
        <i class="bi bi-fullscreen-exit"></i>
      </div>
      <iframe
        src="https://my.atlistmaps.com/map/5b459e77-25b1-41c2-8112-c0cade16a5ee?share="
        true
        allow="geolocation"
        width="100%"
        height="400px"
        frameborder="0"
        scrolling="no"
        allowfullscreen
      ></iframe>
    </div>
    <div class="home">
      <div class="title_button">
        <h2>Explore more houses</h2>
        <button>See All <i class="bi bi-arrow-right-circle-fill"></i></button>
      </div>
      <div class="home_bx">
        <div class="card">
          <img src="img/Random Inspiration 335.jpg" alt=" " />
          <div class="content">
            <i class="bi bi-balloon-heart"></i>
            <div class="cont">
              <h4>Maharashtra</h4>
              <p>Mumbai</p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="img/c.jpg" alt=" " />
          <div class="content">
            <i class="bi bi-balloon-heart"></i>
            <div class="cont">
              <h4>Maharashtra</h4>
              <p>Pune</p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="img/Incredible Luxury House.jpg" alt=" " />
          <div class="content">
            <i class="bi bi-balloon-heart"></i>
            <div class="cont">
              <h4>Maharashtra</h4>
              <p>Kalyan</p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="img/A maison de passe interior design.jpg" alt=" " />
          <div class="content">
            <i class="bi bi-balloon-heart"></i>
            <div class="cont">
              <h4>Maharashtra</h4>
              <p>Thane</p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="img/c.jpg" alt=" " />
          <div class="content">
            <i class="bi bi-balloon-heart"></i>
            <div class="cont">
              <h4>Maharashtra</h4>
              <p>Nashik</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <h2>Our Service</h2>
      <div class="box">
        <div class="img_bx">
          <img src="img/317e7c5f5d69514a14d0168bdf266a7f.jpg" />
        </div>
        <div class="cont_box">
          <h6><span>OUR SERVICE</span><h6>
            <h1>Your Comfort is<br> our Priority</h1>
            <p>Life is short. Focus on what really matters most; you should change your priorities over time.</p>
            <ul>
              <li>Original marketing</li>
              <li>Manged viewing</li>
              <li>Local area knowledge</li>
              <li>Premium national marketing</li>
            </ul>
        </div>
      </div>
    </section>

    <footer>
      <h4><i class="bi bi-house-door-fill"></i>House</h4>
    </footer>
    <script src="app.js"></script>
  </body>
</html>

